{% extends 'body.twig' %}

{% set title = 'About' %}

{% block content %}
    <section id="intro" class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p>I should probably put some text here sometime.</p>
                    <p>For now I will just <a href="https://en.wikipedia.org/wiki/Mnemonic_major_system">link you to the Wikipedia article</a>.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
