{% extends 'body.twig' %}

{% set title = 'Converters' %}

{% block content %}
    <div class="container" id="vue">
        <h1>Converters</h1>
        <hr>
        <converter from="Word(s)" to="Number" url="/api/to/num/" placeholder="example" help="Enter any word to convert" joinstr=", "></converter>
        <div class="row">
            <hr>
        </div>
        <converter from="Number" to="Word" url="/api/to/word/" placeholder="70395" help="Enter any number to convert" joinstr=",  "></converter>
    </div>
{% endblock %}

