html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.row {
  padding-bottom: 20px;
}

.row.centered {
  text-align: center;
}

.navbar-brand {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.navbar-brand:hover {
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}

@media (min-width: 768px) {
  .equal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .btn .far.arrow:before {
    content: "\F061";
  }
}

@media only screen and (max-width: 767px) {
  .equal > div {
    height: auto !important;
  }
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centered > form {
  width: 100%;
}

label {
  font-size: 19px;
  margin-top: 10.5px;
  margin-bottom: 10.5px;
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

.nav > li > a {
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.nav > li > a:hover {
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}

.form-control.result {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 4em;
  max-height: 33em;
  overflow-x: hidden;
  background-color: #fff;
  resize: none;
}

.form-control.result:focus {
  border-color: #dce4ec;
}

@media (max-width: 767px) {
  .btn .far.arrow:before {
    content: "\F063";
  }

  .btn:hover .fa.arrow {
    cursor: pointer;
    color: #96acb7;
  }
}

.table-condensed {
  font-size: 13px;
}

.table {
  width: 100%;
  max-width: 100%;
}

.table th {
  white-space: nowrap;
}

.table ul {
  display: table-row;
  list-style-type: none;
}

.table ul li {
  padding-bottom: 5px;
}

/* Custom expand buttons */

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  font-family: 'Font Awesome 5 Regular';
  font-size: 16px;
  top: 7px;
  width: 1.25em;
  color: #607D8B;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  content: '\F0FE';
}

table.dataTable.dtr-inline.collapsed > tbody > tr.selected > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.selected > th:first-child:before {
  color: #fff;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: transparent;
  content: '\F146';
}

