option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    composer_options: --no-dev --no-interaction --prefer-dist --optimize-autoloader

files:
  "/etc/httpd/conf.d/force_https.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
          RewriteEngine On
          RewriteCond %{HTTP:X-Forwarded-Proto} =http
          RewriteCond %{HTTP_USER_AGENT} !^ELB-HealthChecker.*
          RewriteRule . https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
      </VirtualHost>
