option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    composer_options: --no-dev --no-interaction --prefer-dist --optimize-autoloader
  "aws:elb:listener:443":
    SSLCertificateId: arn:aws:acm:us-east-1:427897242420:certificate/7f6f09c4-2812-4ede-a39f-5c3d67e77da9
    ListenerProtocol: HTTPS
    InstancePort: 80
