Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Metadata:
      AWS::CloudFormation::Authentication:
        S3AccessCred:
          type: "S3"
          roleName: "aws-elasticbeanstalk-ec2-role"
          buckets: "mnemonic-ninja-env"

files:
  "/tmp/.env" :
    mode: "000777"
    owner: root
    group: root
    source: https://s3.amazonaws.com/mnemonic-ninja-env/.env
    authentication: S3AccessCred

container_commands:
   move_env:
      command: "mv /tmp/.env /var/app/ondeck/.env"
