container_commands:
   10_key:
      command: "php artisan key:generate --force"
      cwd: "/var/app/ondeck"
      leader_only: true
   11_migrate:
      command: "php artisan migrate --force"
      cwd: "/var/app/ondeck"
      leader_only: true
   12_seed:
      command: "php artisan db:seed --force"
      cwd: "/var/app/ondeck"
      leader_only: true
   13_cache:
      command: "php artisan cache:clear"
      cwd: "/var/app/ondeck"
   14_optimize:
      command: "php artisan optimize --force"
      cwd: "/var/app/ondeck"
