//colors
$color_1: #dce4ec;
$color_2: #96acb7;

html {
    background-color: $navbar-inverse-bg;
    width: 100%;
    height: 100%;
}
body {
    background-color: $body-bg;
    position: relative;
    padding: ($navbar-height + 25px) 0;
    min-height: 100%;
}

#app {
    overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}
.row {
    padding: 10px 0;
}
.navbar-brand {
    font-family: $font-family-serif;
    padding: 4px 15px;
    @include transition(color .2s ease-in-out);

    &:hover {
        @include transition(color .1s ease-in-out);
    }
}
.equal {
    @media(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    > div {
        @media only screen and(max-width: 767px) {
            height: auto !important;
            margin-bottom: 10px;
        }
    }
}
.centered {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

label {
    font-size: 19px;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
    font-family: $font-family-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}
.nav > li > a,
.footer a {
    @include transition(color .2s ease-in-out);
    &:hover {
        @include transition(color .1s ease-in-out);
    }
}

.conversion {
    min-height: 90px;
    height: auto;
    padding: 0;
    margin: 0;

    table {
        margin: 0;
    }

    @at-root {
        div#{&} {
            overflow-x: auto;
        }

        textarea#{&} {
            padding: 10px 15px;
            resize: vertical;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: $navbar-inverse-bg;
    color: $navbar-inverse-color;

    span {
        display: inline-block;
        margin: 20px 0;
    }

    a {
        color: $navbar-inverse-link-color;
        text-decoration: none;

        &:hover {
            color: $navbar-inverse-link-hover-color;
        }
    }
}
